*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(6, 248, 236);
}
img.logo:hover{
    transform: scale(0.8);
    rotate: -10deg;
    transition: 3s;
}
.nav-link{
    font-family: 'Luckiest Guy';
    color: rgb(255, 255, 255); 
    text-shadow: 3px 0px 0px rgb(162, 1, 1);
}
.nav-link:hover{
    font-family: 'Luckiest Guy';
    color: rgb(255, 255, 255); 
    text-shadow: 3px 0px 0px rgb(28, 255, 7);
    transform: scale(1.5) rotate(20deg);
    transition: 3s;   
}
main h1 {
    text-align: center;
    font-family: 'Luckiest Guy';
    color:rgb(251, 114, 240);
    text-shadow: 3px 0px 0px rgb(255, 255, 255) ;
    margin-top: 2rem;
}
main p {
    text-align: center;
    font-family: 'Luckiest Guy';
    color: rgb(244, 244, 244);
    padding: 2rem;
    margin: 2rem;
    background-image: linear-gradient(rgb(117, 71, 255), rgb(17, 64, 251) );
    border-radius: 100px;
    text-align: center;
    border: 2px dotted rgb(252, 252, 8);
    text-shadow: 3px 0px 0px rgb(4, 73, 221) ;
}
main div select option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
body{
    background-color: rgb(114, 121, 237);
}
a{
    color: rgb(244, 244, 244);
    text-decoration: none;
}
button.juega{
    border: 2px dotted rgb(252, 252, 8);
    height: 2rem;
    width: 15rem;
    font-size: 1rem;
    font-family: 'Luckiest Guy';
    text-shadow: 3px 0px 0px rgb(0, 0, 0);
    background-image: linear-gradient(rgb(42, 253, 0), rgb(0, 0, 0) );
    border-radius: 100px;
    text-align: center;
    color: white;
}  
button.juega:hover{
        transform: scale(1.2);
}
button.dona{
    border: 2px dotted rgb(252, 252, 8);
    height: 2rem;
    width: 15rem;
    font-size: 1rem;
    font-family: 'Luckiest Guy';
    text-shadow: 3px 0px 0px rgb(0, 0, 0);
    background-image: linear-gradient(rgb(255, 71, 80), rgb(0, 0, 0) );
    border-radius: 100px;
    text-align: center;
    color: white;
}  
button.dona:hover{
    transform: scale(1.2);
}
button.comparte{
    border: 2px dotted rgb(252, 252, 8);
    height: 2rem;
    width: 15rem;
    font-size: 1rem;
    font-family: 'Luckiest Guy';
    text-shadow: 3px 0px 0px rgb(0, 0, 0);
    background-image: linear-gradient(rgb(55, 4, 208), rgb(0, 0, 0) );
    border-radius: 100px;
    text-align: center;
    color: white;
}   
button.comparte:hover{
    transform: scale(1.2);
} 
section.botones{
    background-color: rgb(50, 115, 229);
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}
button.navbar-toggler{
    font-size: 1rem;
    text-align: center;
    color: white;
    background-image: none;
    border: none;
}
main div select option{
    border-radius: 50px;
}
footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    background-color: rgb(6, 248, 236);
}
div.selector{
    display: grid;
    align-items: baseline;
    background-color: none;
    margin: 2rem;
    padding: 2rem;
 }
div.reproductor{
    margin: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}
@media screen and (min-width:600px) {
    header{
        background-color:rgb(121, 186, 239);
    }
    body{
        background-color: rgb(91, 31, 165);
    }
    main h1 {
        text-align: center;
        font-family: 'Luckiest Guy';
        color: rgb(139, 215, 52);
        text-shadow: 3px 0px 0px rgb(255, 255, 255) ;
    }
    main p{
        background-image: linear-gradient(rgb(55, 4, 208), rgb(118, 139, 225) );
    }
    section.botones{
        background-color: rgb(251, 114, 240);
        display: flex;
        flex-flow: row;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    footer{
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        background-color: rgb(121, 186, 239);
    }
    .orlando{
        display: none;
    }
    .camarones{
        display: none;
    }
}
@media screen and (min-width:1024px) {
    header{
       background-color:  rgb(9, 7, 61);
    }
    body{
        background-color: aqua;
    }
    main h1 {
        text-align: center;
        font-family: 'Luckiest Guy';
        color: rgb(215, 98, 52);
        text-shadow: 3px 0px 0px rgb(255, 255, 255) ;
    }
    section.botones{
        background-color: rgb(219, 246, 10);
        display: flex;
        flex-flow: row;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    footer{
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        background-color: rgb(9, 7, 61);
    }
    .orlando{
        display: none;
    }
    .algas{
        display: none;
    }
    .camarones{
        display: block;
    }
}
